body {
  background-color: black;
}

.lights {
  width: 100%;
  padding: 10% 0;
}

i {
  display: block;
  margin: 0px auto;
  width: 30px;
  height: 30px;
  background-color: hsla(200, 80%, 50%, 0.8);
  border: 10px solid hsla(200, 80%, 50%, 1);
  border-radius: 2px;
  /*call animation*/
  /*animation:flashing 2s infinite;*/
  transition: 0.3s all ease;
  float: left;
  margin: 20px;
}
